@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&display=swap');
body{
    background: rgb(13, 13, 13);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stopwatch{
    width: 90%;
    max-width: 540px;
    margin:  200px auto;
    padding: 10px 15px;
    text-align: center;
    background: linear-gradient(to bottom, #539ee5, #0057B0);
    border-radius: 25px;
    border: 2px black solid;
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 65px;
    font-weight: 400;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons span{
    cursor: pointer;
    margin: 22px;

}
.buttons span:hover{
    transform: scale(1.1);
}
.buttons span:active{
    transform: scale(0.9);
}

.icon {
    font-size: 50px;
  }

